$body-bg: #f1f4f5;
$gray-color: #e1e5e7;
$topNavLinkColor: #333338;
$activeBlue: #0056a7;
$brandColor: #f8c513;
$brandColorLight: #fdf2c8;
$footergray: #f1f4f5;

body {
  background: $body-bg;
  font-family: "Roboto", sans-serif;
}
