.heading {
  font-weight: 300;
  letter-spacing: 0.6px;
  &__one {
    font-size: 29px;
  }
  &__two {
    font-size: 21px;
    font-weight: 400;
  }
}

.subheading {
  font-weight: 300;
  letter-spacing: 0.6px;
  font-size: 16px;
}
