.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: $gray-color;
  padding-right: 50px;
  height: 30px;

  &__left {
    display: flex;
    align-items: center;
    a {
      @include topNavFont;
      color: $topNavLinkColor;
      padding: 0px 45px;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      &:hover {
        text-decoration: none;
      }
    }
    .active {
      display: inline-block;
      height: 30px;
      color: $activeBlue;
      background: white;
    }
    &--select {
      padding: 0px 20px;
      #select-label {
        @include topNavFont;
        display: inline-block;
        height: 30px;
        line-height: 33px;
        margin-right: 5px;
      }
      #id_select {
        height: 30px;
        @include topNavFont;
        border: none;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    a {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $topNavLinkColor;
      padding: 0px 20px;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#nav-phonelink {
  font-weight: 800;
  color: $activeBlue;
}
#nav-drivesafe {
  font-size: 18px;
  font-weight: 400;
  color: $brandColor;
  span {
    color: #93a0a9;
    font-weight: 700;
  }
}
