body {
  background: #f1f4f5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #e1e5e7;
  padding-right: 50px;
  height: 30px; }
  .top-nav__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top-nav__left a {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #333338;
      padding: 0px 45px;
      display: inline-block;
      height: 30px;
      line-height: 30px; }
      .top-nav__left a:hover {
        text-decoration: none; }
    .top-nav__left .active {
      display: inline-block;
      height: 30px;
      color: #0056a7;
      background: white; }
    .top-nav__left--select {
      padding: 0px 20px; }
      .top-nav__left--select #select-label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
        height: 30px;
        line-height: 33px;
        margin-right: 5px; }
      .top-nav__left--select #id_select {
        height: 30px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none; }
  .top-nav__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top-nav__right a {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #333338;
      padding: 0px 20px;
      display: inline-block;
      height: 30px;
      line-height: 30px; }
      .top-nav__right a:hover {
        text-decoration: none; }

#nav-phonelink {
  font-weight: 800;
  color: #0056a7; }

#nav-drivesafe {
  font-size: 18px;
  font-weight: 400;
  color: #f8c513; }
  #nav-drivesafe span {
    color: #93a0a9;
    font-weight: 700; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 50px;
  background: white; }
  .main-nav__left img {
    width: 190px; }
  .main-nav__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.navigation {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none; }
  .navigation__list--items {
    margin-left: 50px; }
    .navigation__list--items a {
      font-weight: 400;
      letter-spacing: 1.2px;
      font-size: 12px;
      text-transform: uppercase;
      color: #333338; }

.icon {
  margin-left: 20px;
  background: #f8c513;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  .icon:hover i {
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  .icon i {
    font-size: 20px;
    color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.icon-chat {
  position: fixed;
  right: 80px;
  top: 120px;
  z-index: 1; }

.button {
  font-weight: 400;
  font-size: 13px;
  height: 45px;
  line-height: 45px;
  color: white;
  padding: 0 25px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 1.1px; }
  .button__yellow {
    background-color: #f8c513; }
  .button__blue {
    background-color: #00386c; }
  .button:hover {
    text-decoration: none;
    color: white; }

.margin-l-50 {
  margin-left: 50px; }

.heading {
  font-weight: 300;
  letter-spacing: 0.6px;
  color: #333338; }
  .heading__one {
    font-size: 29px; }
  .heading__two {
    font-size: 21px;
    font-weight: 400; }
    .heading__two-bigger {
      font-size: 24px; }
  .heading__three {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.4;
    text-transform: uppercase;
    color: #f8c513; }
  .heading--bold {
    font-weight: 400; }

.subheading {
  font-weight: 300;
  letter-spacing: 0.6px;
  font-size: 16px; }

.bold-font {
  font-weight: 500; }

.left-sidebar {
  background-color: white;
  margin-top: 5px;
  padding: 15px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 27%;
  flex-basis: 27%; }

.car-info {
  text-align: center; }
  .car-info__image {
    width: 300px; }

.car-features {
  padding: 20px 20px;
  max-width: 500px;
  margin: 0 auto; }
  .car-features--first, .car-features--second, .car-features--third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px; }
    .car-features--first img, .car-features--second img, .car-features--third img {
      width: 20px; }
    .car-features--first i, .car-features--second i, .car-features--third i {
      color: #0056a7;
      font-size: 20px;
      padding-right: 10px; }

.quote {
  max-width: 500px;
  margin: 0 auto; }
  .quote__car-cost, .quote__car-fee, .quote__car-cover, .quote__car-gst, .quote__car-totalPrice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px; }
    .quote__car-cost ul, .quote__car-fee ul, .quote__car-cover ul, .quote__car-gst ul, .quote__car-totalPrice ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .quote__car-cost .price, .quote__car-fee .price, .quote__car-cover .price, .quote__car-gst .price, .quote__car-totalPrice .price {
      margin-left: 10px; }
    .quote__car-cost .totalPrice, .quote__car-fee .totalPrice, .quote__car-cover .totalPrice, .quote__car-gst .totalPrice, .quote__car-totalPrice .totalPrice {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 15px; }

hr {
  margin-top: 0px;
  border-top: 2px solid #d3d3d3; }

.main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-box .main-content {
    padding: 10px 50px 150px 50px;
    max-width: 1140px;
    margin: 0 auto; }
  .main-box .cover-info {
    font-style: italic;
    padding: 20px;
    background: #ececec;
    color: #333338;
    line-height: 1.8;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 23px 0 rgba(183, 189, 194, 0.33);
    box-shadow: 0 4px 23px 0 rgba(183, 189, 194, 0.33);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 34px;
    margin-top: 34px;
    cursor: pointer; }
    .main-box .cover-info:hover {
      -webkit-transform: scale(1.03);
      transform: scale(1.03); }

.card {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective: 1500px;
  height: 400px;
  position: relative; }
  .card__side {
    height: 400px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); }
    .card__side--front {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .card__side--front-1 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fbed90), to(white));
        background-image: linear-gradient(#fbed90, white); }
      .card__side--front-2 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d1e4f9), to(#f1f4f5));
        background-image: linear-gradient(#d1e4f9, #f1f4f5); }
      .card__side--front-3 {
        background: #ececec; }
    .card__side--back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #f7f7f7; }
      .card__side--back-1 {
        background-color: #f7f7f7;
        position: relative; }
  .card .backcard {
    margin-bottom: 80px; }
    .card .backcard .price-subheading {
      font-size: 12px; }
  .card .front-list {
    width: 87%; }
    .card .front-list__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 12px;
      border-bottom: 1px solid #d3d3d3;
      color: #8d9092;
      margin-bottom: 10px; }
    .card .front-list .checkmark {
      margin-right: 8px;
      font-size: 10px; }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .card .popular {
    background-color: #0056a7;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    padding: 10px 20px;
    -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 8px 0px; }

.extra__panel {
  background: white;
  padding: 25px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  cursor: pointer; }
  .extra__panel--title span {
    font-size: 16px; }
  .extra__panel--title i {
    margin-right: 3px;
    font-size: 16px;
    color: #0056a7; }
  .extra__panel .price {
    font-size: 12px; }
  .extra__panel .price-des,
  .extra__panel .price {
    color: #8d9092; }

.progress {
  height: 18px;
  border-radius: 8px;
  border: 3px solid #fff; }

.progress-bar {
  background-color: #f8c513; }

.progressbar-text {
  font-size: 15px;
  font-weight: 300; }

.margin-top-none {
  margin-top: 0px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-bottom-18 {
  margin-bottom: 18px; }

.margin-bottom-none {
  margin-bottom: 0px; }

.gray-color {
  color: #3d3d3d; }

.label-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.hamburger-menu {
  margin-left: 50px;
  font-size: 24px;
  color: #0056a7; }

.footer {
  background-color: #f1f4f5;
  padding-top: 52px;
  padding-bottom: 65px;
  border-top: 1px solid #e1e5e7; }
  .footer__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 20px; }
    .footer__container .footer-menu {
      min-width: 800px; }
    .footer__container ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer__container ul li a {
        font-size: 15px;
        line-height: 1.33;
        font-weight: 300;
        color: #333338; }
    .footer__container .social-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .footer__container .social-links .icon {
        margin-left: 20px;
        background: #e1e5e7;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
        .footer__container .social-links .icon:hover {
          background: white; }
        .footer__container .social-links .icon i {
          font-size: 20px;
          color: #333338; }

.qualmark img {
  width: 100px;
  margin-top: 20px;
  margin-left: 20px; }

@media only screen and (max-width: 600px) {
  .booking-button {
    display: none; }
  .label-progress,
  .label {
    display: none; } }

@media only screen and (min-width: 800px) {
  .footer__container .footer-menu {
    width: 300px; } }

@media only screen and (max-width: 990px) {
  .card {
    margin-bottom: 30px; } }

@media only screen and (max-width: 1200px) {
  .main-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

@media only screen and (max-width: 1000px) {
  .footer__container,
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-last-link {
    margin-bottom: 20px; } }

@media only screen and (max-width: 1080px) {
  .top-nav {
    display: none; } }

@media only screen and (min-width: 1254px) {
  .hamburger-menu {
    display: none; } }

@media only screen and (max-width: 1254px) {
  .navigation {
    display: none; } }
