.footer {
  background-color: $footergray;
  padding-top: 52px;
  padding-bottom: 65px;
  border-top: 1px solid #e1e5e7;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    .footer-menu {
      display: flex;
      justify-content: space-between;
      width: 800px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        a {
          font-size: 15px;
          line-height: 1.33;
          font-weight: 300;
          color: $topNavLinkColor;
        }
      }
    }
    .social-links {
      display: flex;
      align-items: flex-start;
      .icon {
        margin-left: 20px;
        background: #e1e5e7;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          background: white;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
}
